<div class="header">
  <div class="header-inner">

    <div class="topnav">
      <div class="brand">
        <div class="brand-icon">
          <i class="ti ti-shield-lock"></i>
        </div>

        <div>
          <div class="title">Narcotics Control Unit</div>
          <div class="brand-sub">Negombo Division</div>
        </div>
      </div>

      <div class="nav-right">

        <a href="#" class="nav-btn">
          <i class="ti ti-settings"></i>
        </a>

        <div class="nav-divider"></div>

        <div class="officer-pill">
          <div class="avatar">PF</div>
          <span class="officer-name">P.C Fernando</span>
        </div>

      </div>
    </div>

  </div>
</div>